* {
  text-align: center;
  background-color: #cc99ff;
  .container {
      width: 50vw;
      margin: auto;
  }
}
@mixin borders {
  border: 1px solid black;
  border-radius: 3px;
  background-color: #280051;
  color: #cc99ff;
}
.form {
  input {
    @include borders;
  }
  input:hover {
    box-shadow: 2px 2px black;
  }
  button {
    @include borders;
  }
  button:hover {
    box-shadow: 2px 2px black;
  }
}

.tasks {
  list-style: none;
  text-align: left;
  padding: 5px;
  button {
    @include borders;
  }
  button:hover {
    box-shadow: 2px 2px black;
  }
}
